body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    color: aqua;
}

#book-container {
    width: 50vw;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-auto-rows: min-content;
    border: 1px solid red;
    gap: 10px;
    justify-content: center;
}

.card {
    width: 25rem;
    height: 13rem;
    background-color: rgb(161, 91, 207);
}

h1 {
    grid-column: span 2;
    justify-self: center;
    position: sticky;
    top: 0;
}

span {
    font-weight: 600;
}

input {
    position: sticky;
    height: min-content;
    top: 0;
}